In [27]:
import numpy as np
import pandas as pd

In [28]:
# Preparing and Cleaning the data
file = "NGA_relative_wealth_index.csv"
file = pd.read_csv(file)

In [29]:
file

               quadkey   latitude  longitude    rwi  error
0       12222122333002   5.758105   6.866455  0.934  0.496
1       12222033311222   6.151478   5.460205 -0.501  0.381
2       12222121311330   7.569437   8.404541 -0.431  0.373
3       12220232130230  12.071552   3.922119 -0.384  0.345
4       12220323311132  11.792080   8.404541  0.454  0.460
...                ...        ...        ...    ...    ...
103419  12220323003331  12.243391   7.371826 -0.430  0.390
103420  12222301022223   4.926779   7.064209  0.380  0.504
103421  12220322213212  11.576907   6.207275 -0.826  0.360
103422  12222100203201  10.217625   5.833740 -0.477  0.381
103423  12222100230113  10.109486   6.141357 -0.405  0.415

[103424 rows x 5 columns]

In [30]:
# putting it in Data frame to enable us manipulate it
file = pd.DataFrame(file)

In [31]:
file

               quadkey   latitude  longitude    rwi  error
0       12222122333002   5.758105   6.866455  0.934  0.496
1       12222033311222   6.151478   5.460205 -0.501  0.381
2       12222121311330   7.569437   8.404541 -0.431  0.373
3       12220232130230  12.071552   3.922119 -0.384  0.345
4       12220323311132  11.792080   8.404541  0.454  0.460
...                ...        ...        ...    ...    ...
103419  12220323003331  12.243391   7.371826 -0.430  0.390
103420  12222301022223   4.926779   7.064209  0.380  0.504
103421  12220322213212  11.576907   6.207275 -0.826  0.360
103422  12222100203201  10.217625   5.833740 -0.477  0.381
103423  12222100230113  10.109486   6.141357 -0.405  0.415

[103424 rows x 5 columns]

In [32]:
# To run the descriptive Analysis
file.describe()

,quadkey,latitude,longitude,rwi,error
count,1.034240e+05,103424.000000,103424.000000,103424.000000,103424.000000
mean,1.222165e+13,9.715208,8.027695,-0.347274,0.389611
std,8.694713e+08,2.292037,2.716331,0.383635,0.047060
min,1.222023e+13,4.291636,2.691650,-1.629000,0.314000
25%,1.222033e+13,7.852499,5.921631,-0.590000,0.359000
50%,1.222210e+13,9.914744,7.899170,-0.409000,0.376000
75%,1.222212e+13,11.684514,10.008545,-0.189000,0.404000
max,1.222302e+13,13.891411,14.666748,2.032000,0.730000

In [33]:
file.corr()

            quadkey  latitude  longitude       rwi     error
quadkey    1.000000 -0.689153   0.110168  0.176968  0.097480
latitude  -0.689153  1.000000   0.259607 -0.298025 -0.375855
longitude  0.110168  0.259607   1.000000 -0.102482 -0.288386
rwi        0.176968 -0.298025  -0.102482  1.000000  0.551538
error      0.097480 -0.375855  -0.288386  0.551538  1.000000

In [34]:
# Running a simple Regression Analysis
import statsmodels.api as sm

In [36]:
y = file["rwi"]
x = file["latitude"]
y = np.array(y)
x = np.array(x)
x = sm.add_constant(x)
model = sm.OLS(y,x)
fit = model.fit()
result=fit.summary()
print(result)

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.089
Model:                            OLS   Adj. R-squared:                  0.089
Method:                 Least Squares   F-statistic:                 1.008e+04
Date:                Mon, 16 May 2022   Prob (F-statistic):               0.00
Time:                        16:42:13   Log-Likelihood:                -42855.
No. Observations:              103424   AIC:                         8.571e+04
Df Residuals:                  103422   BIC:                         8.573e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.1373      0.005     27.695      0.000       0.128       0.147
x1            -0.0499      0.000   -100.405      0.000      -0.051      -0.049
==============================================================================
Omnibus:                    24552.208   Durbin-Watson:                   2.004
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            68023.927
Skew:                           1.263   Prob(JB):                         0.00
Kurtosis:                       6.067   Cond. No.                         43.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [37]:
y = file["rwi"]
x = file[["latitude","longitude"]]
y = np.array(y)
x = np.array(x)
x = sm.add_constant(x)
model = sm.OLS(y,x)
fit = model.fit()
result = fit.summary()
print(result)

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.089
Model:                            OLS   Adj. R-squared:                  0.089
Method:                 Least Squares   F-statistic:                     5083.
Date:                Mon, 16 May 2022   Prob (F-statistic):               0.00
Time:                        17:10:34   Log-Likelihood:                -42817.
No. Observations:              103424   AIC:                         8.564e+04
Df Residuals:                  103421   BIC:                         8.567e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.1565      0.005     28.886      0.000       0.146       0.167
x1            -0.0487      0.001    -94.723      0.000      -0.050      -0.048
x2            -0.0038      0.000     -8.764      0.000      -0.005      -0.003
==============================================================================
Omnibus:                    24337.959   Durbin-Watson:                   2.003
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            66973.189
Skew:                           1.254   Prob(JB):                         0.00
Kurtosis:                       6.041   Cond. No.                         61.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## stars

In [ ]:
y = file["rwi"]
x = file[["latitude","longitude", "error"]]
y = np.array(y)
x = np.array(x)
x = sm.add_constant(x)
model = sm.OLS(y,x)
fit = model.fit()

In [38]:
result = fit.summary()
print(result)

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.320
Model:                            OLS   Adj. R-squared:                  0.320
Method:                 Least Squares   F-statistic:                 1.620e+04
Date:                Mon, 16 May 2022   Prob (F-statistic):               0.00
Time:                        17:16:23   Log-Likelihood:                -27745.
No. Observations:              103424   AIC:                         5.550e+04
Df Residuals:                  103420   BIC:                         5.554e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -1.9277      0.012   -159.502      0.000      -1.951      -1.904
x1            -0.0201      0.000    -42.724      0.000      -0.021      -0.019
x2             0.0115      0.000     29.981      0.000       0.011       0.012
x3             4.3201      0.023    187.068      0.000       4.275       4.365
==============================================================================
Omnibus:                     6425.428   Durbin-Watson:                   2.005
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            10613.019
Skew:                           0.498   Prob(JB):                         0.00
Kurtosis:                       4.213   Cond. No.                         339.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [39]:
y = file["rwi"]
x = file[["latitude","longitude", "error","quadkey"]]
y = np.array(y)
x = np.array(x)
x = sm.add_constant(x)
model = sm.OLS(y,x)
fit = model.fit()
result = fit.summary()
print(result)

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.320
Model:                            OLS   Adj. R-squared:                  0.320
Method:                 Least Squares   F-statistic:                 1.620e+04
Date:                Mon, 16 May 2022   Prob (F-statistic):               0.00
Time:                        17:25:07   Log-Likelihood:                -27747.
No. Observations:              103424   AIC:                         5.550e+04
Df Residuals:                  103420   BIC:                         5.554e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0008   4.38e-06    186.781      0.000       0.001       0.001
x1            -0.0201      0.000    -42.849      0.000      -0.021      -0.019
x2             0.0115      0.000     30.011      0.000       0.011       0.012
x3             4.3195      0.023    187.055      0.000       4.274       4.365
x4         -1.577e-13   9.89e-16   -159.489      0.000    -1.6e-13   -1.56e-13
==============================================================================
Omnibus:                     6425.988   Durbin-Watson:                   2.005
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            10613.861
Skew:                           0.498   Prob(JB):                         0.00
Kurtosis:                       4.213   Cond. No.                     2.64e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.64e+17. This might indicate that there are
strong multicollinearity or other numerical problems.